ConsultationWebSOAP/src/main/webapp/wsdl/consultationutility_schema1.xsd

<xs:schema xmlns:tns="http://default_package/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://default_package/" version="1.0">

  <xs:element name="RegistarUser" type="tns:RegistarUser"/>

  <xs:element name="RegistarUserResponse" type="tns:RegistarUserResponse"/>

  <xs:element name="cancelarConsulta" type="tns:cancelarConsulta"/>

  <xs:element name="cancelarConsultaResponse" type="tns:cancelarConsultaResponse"/>

  <xs:element name="listarConsultas" type="tns:listarConsultas"/>

  <xs:element name="listarConsultasResponse" type="tns:listarConsultasResponse"/>

  <xs:element name="loginUser" type="tns:loginUser"/>

  <xs:element name="loginUserResponse" type="tns:loginUserResponse"/>

  <xs:element name="reservarConsulta" type="tns:reservarConsulta"/>

  <xs:element name="reservarConsultaResponse" type="tns:reservarConsultaResponse"/>

  <xs:element name="updateConsulta" type="tns:updateConsulta"/>

  <xs:element name="updateConsultaResponse" type="tns:updateConsultaResponse"/>

  <xs:complexType name="RegistarUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RegistarUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateConsulta">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateConsultaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelarConsulta">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelarConsultaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarConsultas">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarConsultasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservarConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservarConsultaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
